/* Ensures blog images never exceed 100px in height */
.blog-img-max-height {
    max-height: 100px;
    height: auto;
    width: auto;
}
/* Custom background color class using CSS variable */

:root {
    --app-bg-primary: #3e1f47;

    --primary: #3e1f47 !important;
    --secondary: #4895ef !important;
}