@inherits LayoutComponentBase

<div class="main">
    <NavBar></NavBar>
    
    <div class="container">
        @Body
    </div>
    
    <div class="footer bg-light fixed-bottom">
        <p class="text-center">© 2023 BlazorBlog. All rights reserved.</p>
    </div>
</div>