@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Authorization


<nav class="navbar navbar-expand-lg text-white app-bg-primary">
    <div class="container justify-content-between">
        <NavLink class="navbar-brand text-white" ActiveClass="active" href="/">Blog App</NavLink>
        <div>
            <NavLink class="nav-link" ActiveClass="active" href="/about">About</NavLink>
        </div>
        <Dropdown>
            <AuthorizeView>
                <Authorized>
                    <DropdownToggleButton Class="text-white">Menu</DropdownToggleButton>
                    <DropdownMenu aria-labelledby="dropdownMenu2">
                        <DropdownItem To="/blog/new" Type="DropdownItemType.Link">New Blog Post</DropdownItem>
                        <DropdownItem To="/Account/Logout" Type="DropdownItemType.Link">Log Out</DropdownItem>
                    </DropdownMenu>

                </Authorized>
                <NotAuthorized>
                    <DropdownToggleButton Class="text-white">Menu</DropdownToggleButton>
                    <DropdownMenu aria-labelledby="dropdownMenu2">
                        <DropdownItem To="/Account/Login" Type="DropdownItemType.Link">Login</DropdownItem>
                    </DropdownMenu>
                </NotAuthorized>

            </AuthorizeView>

        </Dropdown>
    </div>
</nav>

@code {

}
