<nav class="navbar navbar-expand-lg text-white app-bg-primary">
    <div class="container-fluid">
        <NavLink class="navbar-brand text-white" href="/">Navbar</NavLink>
        <NavLink class="nav-link" href="/about">About</NavLink>
    </div>
</nav>

@code {

}
